.logo img
{
    width: 100%;
}
.menu .megamenu img
{
    width: 100%;
}
.cart-dropdown
{
    position: relative;
    left: -144px;
}
.product_fixed_width
{
    width: 100% !important;
    height: 175px;
}
.product_title_margin
{
    margin-top: 45px !important;
}
.btn-quickview
{
    margin-bottom: -13px !important;
}
.quickview_margin
{
    margin-bottom: -50px !important;
}